@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    background-color: rgb(70, 140, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    display: flex;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 2em;
    width: 30vw;
    min-height: 70vh;
    margin:auto ;
    box-shadow: 4px 4px 10px black;
    
}

div{

    align-items: center;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size:1em;
    padding: 30px;
    
}

img{   
    width: 70%;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px;
}

@media only screen and (max-width:950px) {

    section{
        font-size: 2em;
        width: 85%;
        
    }

    div{
        font-size: 1em;

    }
    img{
        width: 300px;
    }

    
}

@media only screen and (max-width:600px) {

    section{
        font-size: 1.4em;
    }

    div{
        font-size: .8em;

    }
    img{
        width: 200px;
    }

    
}