@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    background-color: rgb(70, 140, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 2vw;
    width: 30vw;
    height: 70vh;
    margin:auto ;
    box-shadow: 4px 4px 10px black;
}

div{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size:1.5vw;
    padding: 30px;
}

img{
    width: 15vw;
    height: 15hw;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px;
}